ConstructionDiary/*.nupkg
ConstructionDiary/*.dll
ConstructionDiary/*.pdb
ConstructionDiary/*.xdt
ConstructionDiary/bin
ConstructionDiary/obj
packages

/.vs/ConstructionDiary/DesignTimeBuild/.dtbcache
/.vs/ConstructionDiary/v16/Server/sqlite3/*.lock
